<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- output to console -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd MMM yyyy HH:mm:ss,SSS}],[%-5p],[%t] (%C:%L), %m%n"/>
		</layout>
	</appender>

	<logger name="com.maiereni">
		<level value="debug"/>
	</logger>

	<root>
		<level value="error"></level>
		<appender-ref ref="consoleAppender"/>
	</root>
	
</log4j:configuration> 