<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee	
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	
	<display-name>NPM Registry</display-name>
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>

	<servlet>
		<servlet-name>registry</servlet-name>
		<servlet-class>com.maiereni.npm.web.RegistryDispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

    <servlet>
        <servlet-name>JerseyServlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
            	com.fasterxml.jackson.jaxrs.json, 
            	io.swagger.jaxrs.listing,
            	com.maiereni.npm.jaxrs2.application
             </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
 
	<servlet-mapping>
		<servlet-name>registry</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>JerseyServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

	
</web-app>